[TargetedCreator]
username = CREATOR HERE

[MyAccount]
authorization_token = YOUR TOKEN HERE
user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36

[Options]
download_mode = Normal
show_downloads = True
download_media_previews = True
open_folder_when_finished = False
download_directory = YOUR DIRECTORY HERE
separate_messages = True
separate_previews = True
separate_timeline = True
utilise_duplicate_threshold = False

[Other]
version = 0.4.1

