requests>=2.26.0
loguru>=0.5.3
imagehash>=4.2.1
pillow>=8.4.0
python-dateutil>=2.8.2
psutil>=5.9.0
keyboard>=0.13.5
undetected_chromedriver==3.4.6
pycryptodome>=3.14.0
pywin32>=303 ; sys_platform == 'win32'
av>=9.0.0
m3u8>=3.0.0
